@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.wap-root {
  padding-left: calc(100vw - 100%);
}


.font-fnormal{
  font-family: Inter-Regular;
}
.font-fmedium{
  font-family: Inter-Medium;
}
.font-fsemibold{
  font-family: Inter-SemiBold;
}
.font-fbold {
  font-family: Inter-Bold;
}

.table__body .table__row:nth-child(2n + 1) {
  background-color: rgba(85, 123, 241, 0.02);
}
.table__body .table__row:hover {
  background-color: rgba(85, 123, 241, 0.04);
}
.css-t3ipsp-control,
.css-13cymwt-control {
  border-width: 0 !important;
  background-color: rgba(0,0,0,0)!important;
  min-height: auto !important;
}
.css-qbdosj-Input {
  font-size: 16px !important;
}
.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}
.css-t3ipsp-control:hover{
  border-width: 0;
}
.css-1u9des2-indicatorSeparator {
  display: none !important;
}
.basic-single {
  width: 100% !important;
}


