@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.wap-root {
  padding-left: calc(100vw - 100%);
}


.font-fnormal{
  font-family: Inter-Regular;
}
.font-fmedium{
  font-family: Inter-Medium;
}
.font-fsemibold{
  font-family: Inter-SemiBold;
}
.font-fbold {
  font-family: Inter-Bold;
}

.table__body .table__row:nth-child(2n) {
  background-color: rgba(85, 123, 241, 0.05);
}
.table__body .table__row:hover {
  background: rgba(85, 123, 241, 0.10);
}

.token-list-wrap .token-item:nth-child(2n) {
  background: linear-gradient(92deg, rgba(107, 190, 225, 0.05) 0%, rgba(138, 232, 153, 0.05) 100%);
}
.token-list-wrap .token-item:hover {
  background: linear-gradient(92deg, rgba(107, 190, 225, 0.10) 0%, rgba(138, 232, 153, 0.10) 100%);
}

.token-list-wrap .token-item-asset:nth-child(2n) {
  background: linear-gradient(115deg, rgba(63, 60, 255, 0.05) 6.8%, rgba(107, 190, 225, 0.05) 87.02%);
}
.token-list-wrap .token-item-asset:hover {
  background: linear-gradient(115deg, rgba(63, 60, 255, 0.10) 6.8%, rgba(107, 190, 225, 0.10) 87.02%);
}

.css-t3ipsp-control,
.css-13cymwt-control {
  border-width: 0 !important;
  background-color: rgba(0,0,0,0)!important;
  min-height: auto !important;
}
.css-qbdosj-Input {
  font-size: 16px !important;
}
.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}
.css-t3ipsp-control:hover{
  border-width: 0;
}
.css-1u9des2-indicatorSeparator {
  display: none !important;
}
.basic-single {
  width: 100% !important;
}

.first-up::first-letter {
  text-transform: capitalize;
}

.connect-bg:hover {
  background: linear-gradient(108deg,rgba(63,60,255,0.03) 24.12%,rgba(107,190,225,0.03) 51.08%,rgba(138,232,153,0.03) 75.88%);
  border-radius: 8px;
}
.avatar-bg {
  border-radius: 100px;
  background: linear-gradient(135deg, rgba(63, 60, 255, 0.10) 0%, rgba(107, 190, 225, 0.10) 100%);
}
.menu-item:hover {
  background: linear-gradient(135deg, rgba(63, 60, 255, 0.15) 0%, rgba(107, 190, 225, 0.15) 100%), #FFF;
}
.menu-item-user:hover {
  background: linear-gradient(135deg, rgba(107, 190, 225, 0.06) 0%, rgba(138, 232, 153, 0.06) 100%);
}
.user-swap {
  background: linear-gradient(135deg, #6BBEE1 0%, #8AE899 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user-create {
  background: linear-gradient(135deg, #3F3CFF 0%, #6BBEE1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.score-item:hover {
  background: #F2F2F2;
}

.score-item.active:hover {
  background: rgba(73, 91, 255, 0.40);
}
.view-etherscan .link3 {
  display: inline-block;
}
.view-etherscan .link4{
  display: none;
}
.view-etherscan:hover {
  cursor: pointer;
  background: linear-gradient(46deg, rgba(107, 190, 225, 0.70) 8.92%, rgba(138, 232, 153, 0.70) 71.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view-etherscan:hover .link3 {
  display: none;
}
.view-etherscan:hover .link4{
  display: inline-block;
}
.container__editor {
  min-height: 100%;
}
.container__editor textarea {
  outline: 0;
  min-height: 100%;
}

/* 滚动条轨道样式 */
.scrollbar-container::-webkit-scrollbar {
  width: 4px; /* 设置滚动条宽度 */
}

/* 滚动条滑块样式 */
.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08); /* 设置滑块背景颜色 */
  border-radius: 4px; /* 设置滑块圆角 */
}

/* 滚动条轨道hover状态样式 */
.scrollbar-container::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0); /* 设置轨道hover状态时的背景颜色 */
}

/* 滚动条滑块hover状态样式 */
.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.08); /* 设置滑块hover状态时的背景颜色 */
}

.blue-text {
  background: linear-gradient(96deg, #3F3CFF 0%, #6BBEE1 101.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


