@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.wap-root {
  padding-left: calc(100vw - 100%);
}


.font-fnormal{
  font-family: Inter-Regular;
}
.font-fmedium{
  font-family: Inter-Medium;
}
.font-fsemibold{
  font-family: Inter-SemiBold;
}
.font-fbold {
  font-family: Inter-Bold;
}

.table__body .table__row:nth-child(2n) {
  background-color: rgba(85, 123, 241, 0.05);
}
.table__body .table__row:hover {
  background-color: rgba(85, 123, 241, 0.04);
}
.css-t3ipsp-control,
.css-13cymwt-control {
  border-width: 0 !important;
  background-color: rgba(0,0,0,0)!important;
  min-height: auto !important;
}
.css-qbdosj-Input {
  font-size: 16px !important;
}
.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}
.css-t3ipsp-control:hover{
  border-width: 0;
}
.css-1u9des2-indicatorSeparator {
  display: none !important;
}
.basic-single {
  width: 100% !important;
}

.first-up::first-letter {
  text-transform: capitalize;
}

.connect-bg:hover {
  background: linear-gradient(108deg,rgba(63,60,255,0.03) 24.12%,rgba(107,190,225,0.03) 51.08%,rgba(138,232,153,0.03) 75.88%);
  border-radius: 8px;
}
.avatar-bg {
  border-radius: 100px;
  background: linear-gradient(135deg, rgba(63, 60, 255, 0.10) 0%, rgba(107, 190, 225, 0.10) 100%);
}
.menu-item:hover {
  background: linear-gradient(135deg, rgba(63, 60, 255, 0.15) 0%, rgba(107, 190, 225, 0.15) 100%), #FFF;
}


